*{
    padding: 0;
    margin: 0;
}

:root{
    font-family: "Open-sans" , sans-serif;
}

#page{
    box-sizing: border-box;
    width: 1120px;
    margin: 88px auto;
}

header{
    padding-bottom: 40px;
}

section{
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#busan{
    padding-top: 24px;
}

#subtittle{
    border-top: solid  1px rgba(82, 82, 82, 0.2);
    padding-top: 64px;
}

.description{
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
    margin-bottom: 8px;
}

#options {
    padding-bottom: 0px;
}

img{
    border-radius: 28px;
}

.hidden{
    visibility: hidden;
}

h2 + p{
    padding-top: 8px;
}

h3{
    padding-top: 20px;
}

h3 + p {
    padding-top: 4px;
}

ul {
    padding-left: 24px;
}

#historia {
    color: #0C51A7;
}

#casais {
    color: #591B98;
}

#familias {
    color: #E5245E;
}

#orcamento {
    color: #E95E10;
}

#division {
    padding: 40px 0 0 0;
    border-top: solid  1px rgba(82, 82, 82, 0.2);
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 80px;
}