*{
    padding: 0;
    margin: 0;
}

:root{
    font-family: "Open-sans" , sans-serif;
}

#page{
    box-sizing: border-box;
    width: 1120px;
    margin: 88px auto;
}

header{
    padding-bottom: 40px;
}

section{
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#subtittle{
    border-top: solid  1px rgba(82, 82, 82, 0.2);
    padding-top: 64px;
}

#busan{
    padding-top: 24px;
}

.description{
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
    margin-bottom: 8px;
}

img{
    border-radius: 28px;
}

.hidden{
    visibility: hidden;
}